Bitwarden/
Code - OSS/
Kvantum/
Microsoft/
QtProject.conf
VirtualBox/
bashtop/
chromium/
dconf/
discord/
droidcam
flameshot/
galculator/
gtk-3.0/
libfm/
libreoffice/
mimeapps.list
neofetch/
obs-studio/
pavucontrol.ini
pcmanfm/
pulse/
qpdfview/
rclone/
rofi/
spotify/
teams/
transmission/
xarchiver/
Atom/
Notable/
Notepadqq/
Notion/
configstore/
ghostwriter/
sublime-text-3/
whatsapp-nativefier-d40211/
wireshark/

