configuration {
 modi: "window,drun,ssh,combi";
 font: "Free Sans 14";
 lines: 8;
 eh: 2;
 bw: 2;
 color-window: "#303030, #303030, #ffffff";
 color-normal: "#303030, #ffffff, #303030, #15539E, #ffffff";
 color-active: "#303030, #ffffff, #303030, #007763, #ffffff";
 color-urgent: "#303030, #ffffff, #303030, #77003d, #ffffff";
 }

