configuration {
 modi: "window,drun,ssh,combi";
 font: "Free Sans 14";
 lines: 8;
 eh: 2;
 bw: 2;
 icon-theme: "Papirus-Dark";
 color-window: "#2F3D44, #2F3D44, #ffffff";
 color-normal: "#2F3D44, #ffffff, #2F3D44, #00BCD4, #ffffff";
 color-active: "#2F3D44, #ffffff, #2F3D44, #007763, #ffffff";
 color-urgent: "#2F3D44, #ffffff, #2F3D44, #77003d, #ffffff";
 }

